:host {
  display: block;
  height: 100%;
}

ion-content {
  --padding-bottom: 0;
  --padding-top: 0;
  height: 100%;
  position: relative;
  --background: transparent;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}
