<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="map" href="/tabs/map">
      <ion-icon name="map"></ion-icon>
      <ion-label>Map</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="report" href="/tabs/report">
      <ion-icon name="send"></ion-icon>
      <ion-label>Report</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="rewards" href="/tabs/rewards">
      <ion-icon name="trophy"></ion-icon>
      <ion-label>Rewards</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/tabs/settings">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
